@model IEnumerable<GroupProject.Models.Message>

@{
    ViewBag.Title = "ReadIncomingMessages";
}






<div class="container">
    @*<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>*@
    
    <div class="mail-box">
        <aside class="sm-side">
            <div class="user-head">
                <a class="inbox-avatar" href="javascript:;">
                    <img width="64" height="60" style="border-radius:30px" src="~/img/img1.jfif">
                </a>
                <div class="user-name">
                    @foreach (var item in Model)
                    {
                    <h5>@Html.ActionLink(item.Receiver.Email, "Index", "Profile")</h5>
                        break;
                    
                    }

                </div>
                <a class="mail-dropdown pull-right" href="javascript:;">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
            <div class="inbox-body">
                @Html.ActionLink("Compose", "CreateMessage", "Messages", null, new { @class = "btn btn-compose" })

            </div>
            <ul class="inbox-nav inbox-divider inboxCustomNavbar">
                <li>

                    @Html.ActionLink(" Inbox", "ReadIncomingMessages", "Messages", null, new {@class="fa fa-folder-o" })

                </li>
                <li class="arrow">

                    @Html.ActionLink(" Sent", "ReadSentMessages", "Messages", null, new {@class="fa fa-envelope-o" })

                </li>

            </ul>

           
        </aside>
        <aside class="lg-side">
            <div class="inbox-head">
                <h3>Inbox</h3>

            </div>
            <div class="inbox-body">


                <table class="table" id="messages">
                    <thead>
                        <tr>
                            @*<th>@Html.DisplayName("Sender email")</th>*@

                            <th>
                                @Html.DisplayName("Message")
                            </th>
                            <th>
                                @Html.DisplayName("Sender email")
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.ActionLink(item.ShorterBody, "Details", "Messages", new { id = item.Id }, null)
                                </td>

                                <td>
                                    @Html.ActionLink(item.Sender.Email, "VisitProfile", "Profile", new { id = item.SenderId }, null)
                                </td>
                                <td>
                                    <button class="btn-link js-delete" data-message-id="@item.Id">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>


            </div>
        </aside>
    </div>
</div>




    <script>
        $(document).ready(function () {
            $("#messages").DataTable();

            $("#messages").on("click", ".js-delete", function () {
                var button = $(this);
                console.log(button);

                bootbox.confirm("Are you sure to delete this message?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/messages/" + button.attr("data-message-id"),
                            method: "DELETE"
                        }).done(function (response) {
                            console.log(response);
                            button.parents("tr").fadeOut();
                        }).fail(function (error) {
                            console.log(error);
                        });
                    }

                });
            });
        });
    </script>

