@model IEnumerable<GroupProject.Models.Message>

@{
    ViewBag.Title = "ReadSentMessages";
}

<h2>Inbox</h2>




<div class="container">
    @*<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>*@
    <div class="mail-box">
        <aside class="sm-side">
            <div class="user-head">
                <a class="inbox-avatar" href="javascript:;">
                    <img width="64" height="60" style="border-radius:30px" src="~/img/img1.jfif">
                </a>
                <div class="user-name">
                    @foreach (var item in Model)
                    {
                        <h5><a href="#">@Html.DisplayFor(ModelItem => item.Sender.Email)</a></h5>
                        break;
                        <span><a href="#">Swsws@Gmail.com</a></span>
                    }
                </div>
                <a class="mail-dropdown pull-right" href="javascript:;">
                    <i class="fa fa-chevron-down"></i>
                </a>
            </div>
            <div class="inbox-body">
                @Html.ActionLink("Compose", "CreateMessage", "Messages", null, new { @class = "btn btn-compose" })
                
            </div>
            <ul class="inbox-nav inbox-divider inboxCustomNavbar">
                <li>

                    @Html.ActionLink(" Inbox", "ReadIncomingMessages", "Messages", null, new { @class = "fa fa-folder-o" })

                </li>
                <li class="arrow">

                    @Html.ActionLink(" Sent", "ReadSentMessages", "Messages", null, new { @class = "fa fa-envelope-o" })

                </li>
                
            </ul>

           

        </aside>
        <aside class="lg-side">
            <div class="inbox-head">
                <h3>Inbox</h3>
                <form action="#" class="pull-right position">
                    <div class="input-append">
                        <input type="text" class="sr-input" placeholder="Search Mail">
                        <button class="btn sr-btn" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="inbox-body">
                <div class="mail-option">
                    <div class="chk-all">
                        <input type="checkbox" class="mail-checkbox mail-group-checkbox">
                        <div class="btn-group">
                            <a data-toggle="dropdown" href="#" class="btn mini all" aria-expanded="false">
                                All
                                <i class="fa fa-angle-down "></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"> None</a></li>
                                <li><a href="#"> Read</a></li>
                                <li><a href="#"> Unread</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="btn-group">
                        <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                            <i class=" fa fa-refresh"></i>
                        </a>
                    </div>
                    <div class="btn-group hidden-phone">
                        <a data-toggle="dropdown" href="#" class="btn mini blue" aria-expanded="false">
                            More
                            <i class="fa fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                            <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a data-toggle="dropdown" href="#" class="btn mini blue">
                            Move to
                            <i class="fa fa-angle-down "></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-pencil"></i> Mark as Read</a></li>
                            <li><a href="#"><i class="fa fa-ban"></i> Spam</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                        </ul>
                    </div>

                    <ul class="unstyled inbox-pagination">
                        <li><span>1-50 of 234</span></li>
                        <li>
                            <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                        </li>
                        <li>
                            <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                        </li>
                    </ul>
                </div>
                
                <table class="table" id="messages">
                    <thead>
                        <tr>
                            <th>@Html.DisplayName("Sender email")</th>
                            <th>
                                @Html.DisplayName("Receiver email")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Body)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Sender.Email, "Home", "Home", new { item.Id }, null)
                                </td>

                                <td>
                                    @Html.ActionLink(item.Receiver.Email, "Home", "Home", new { item.Id }, null)
                                </td>
                                <td>
                                    @Html.ActionLink(item.Body, "Edit", "Messages", new { id = item.Id }, null)
                                </td>
                                <td>
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    <button class="btn-link js-delete" data-message-id="@item.Id">Delete</button>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>


            </div>
        </aside>
    </div>
</div>


@section scripts{
   


    <script>
        $(document).ready(function () {
            $("#messages").DataTable();

            $("#messages").on("click", ".js-delete", function () {
                var button = $(this);
                console.log(button);

                bootbox.confirm("Are you sure to delete this message?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/messages/" + button.attr("data-message-id"),
                            method: "DELETE"
                        }).done(function (response) {
                            console.log(response);
                            button.parents("tr").fadeOut();
                        }).fail(function (error) {
                            console.log(error);
                        });
                    }

                });
            });
        });
    </script>
}
