@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<nav class="navbar nav-bar-default navbar-fixed-top">
    <a class="navbar-brand" href="~/"><span class="material-icons">coffee</span>A Name</a>
    @*<input type="checkbox" id="check" />
        <label for="check">
            <i class="material-icons" id="btn">menu</i>
            <i class="material-icons" id="cancel">cancel</i>
        </label>

        <div class="sidebar">
            <h2>Menu</h2>
            <ul>
                <li><a href="#"><i class="fas fa-home"></i></a>@Html.ActionLink("Homepage", "Index", "Home")</li>
                <li><a href="#"><i class="fas fa-user"></i></a><span> @Html.ActionLink("Profile", "Index", "Profile")</span></li>
                <li><a href="#"><i class="fas fa-envelope"></i></a>@Html.ActionLink("Inbox", "ReadIncomingMessages", "Messages")</li>
                <li><a href="#"><i class="fas fa-book"></i></a>@Html.ActionLink("About", "Home", "Home")</li>
                <li><a href="#"><i class="fas fa-address-card"></i></a>@Html.ActionLink("Contact", "Contact", "Home")</li>

            </ul>
        </div>*@

    <div class="container-fluid">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav navbar-nav"></button>
        <ul class="nav navbar-nav" id="nav navbar-nav">
            @if (Request.IsAuthenticated)
            {
                <li>
                    <a href=@Url.Action("Index", "NewsFeed") class="material-icons" data-toggle="tooltip" title="Newsfeed">
                        newspaper
                    </a>
                </li>
                <li>
                    <a href=@Url.Action("Index", "People") class="material-icons" data-toggle="tooltip" title="Authors">
                        people
                    </a>


                </li>

                <li>

                    <div class="inbox">
                        <a href=@Url.Action("ReadIncomingMessages", "Messages") class="material-icons" data-toggle="tooltip" title="Inbox">
                            mail
                        </a>

                        <span class="count badge" style="color:white;"></span>
                        }
                    </div>

                </li>

                <li>
                    <a href=@Url.Action("Index", "Topics") class="material-icons" data-toggle="tooltip" title="Forum">
                        forum
                    </a>
                </li>
                <li>
                    <a href=@Url.Action("Index", "Profile") class="material-icons" data-toggle="tooltip" title="Profile">
                        person
                    </a>
                </li>
                <li>
                    <a href=@Url.Action("Index", "Checkout") class="material-icons" data-toggle="tooltip" title="Be Cool and Donate!">
                        favorite
                    </a>
                </li>
                <li>
                    <a href=@Url.Action("SignalRChat", "ChatRoom") class="material-icons" data-toggle="tooltip" title="Chat">
                        chat
                    </a>
                </li>

                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <li class="meme signout"><a href="javascript:document.getElementById('logoutForm').submit()" class="material-icons" data-toggle="tooltip" title="Log Out">logout</a></li>

                }
            }
            else
            {
                <div class="navbar-right non-authenticated">
                <li class="meme">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li class="meme">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) </li>
        </div>
    }


            </ul>

            </div>

        </nav>


@section scripts{
    $(function(){

    $('[data-toggle="tooltip"]').tooltip();

    });
   
}



@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</html>

<style>
    /*---------------------------------------------------------------------------SIDE BAR-----------------------------------------------------------*/
 .inbox{
     display:flex;
     align-items:center;
    
 }
    .sidebar { /*adjust side bar*/
        position: absolute;
        width: 250px;
        height: 100%;
        background: dodgerblue;
        padding: 30px 0;
        left: -250px;
        transition: all .5s ease;
    }

        .sidebar h2 {
            color: dodgerblue;
            text-transform: uppercase;
            text-align: center;
            user-select: none;
            font-size: 22px;
            background: #063146;
            line-height: 70px;
        }

        .sidebar ul li {
            padding: 15px;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(225,225,225,0.05);
            transition: .5s;
        }

            .sidebar ul li a {
                color: #063146;
                display: block;
            }

         
    .navbar-fixed-top > sidebar ul li a {
        width: 25px;
       
    }

    .navbar-fixed-top sidebar ul li:hover { /*change the block color when hover*/
        background: #063146;
    }

        .navbar-fixed-top sidebar ul li:hover a { /*change the item color when hover*/
            color: #fff;
            @*padding-left: 30px;*@
        }


    .main_content {
        width: 100%;
        margin-left: 200px;
    }

        .main_content .header {
            padding: 20px;
            background: #fff;
            color: #717171;
            border-bottom: 1px solid #e0e4e8;
        }

    #check {
        display: none;
    }

    navbar-fixed-top label #btn, label #cancel {
        position: absolute;
        cursor: pointer;
        border-radius: 3px;
    }

    label #btn {
        left: 40px;
        top: 45px;
        font-size: 35px;
        color: dodgerblue;
        padding: 6px 12px;
        transition: all .5s;
    }

    label #cancel {
        z-index: 1111;
        left: -195px;
        top: 17px;
        font-size: 30px;
        color: #0a5257;
        padding: 4px 9px;
        transition: all .5s ease;
    }

    #check:checked ~ .sidebar {
        left: 0;
    }

    #check:checked ~ label #cancel {
        left: 195px;
    }

    /*----------------------------------------------------------------Right TOP BAR----------------------------------------------------------------------*/
    @*.meme {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        right: 0px;
        top: 0px;
        position: absolute;
    }*@







    /*-------------------------------------------------------------------------TOP BAR-------------------------------------------------------------------------*/
    .navbar { /*adjust side bar*/
        /*  border: 1px solid #ccc;
    border-width: 1px 0;*/
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: #1c1e21;
    }

        .navbar li {
            display: inline;
        }

            .navbar li a {
                /*display:inline-block;*/
                padding: 10px;
                /* background-color:aqua;*/
            }

    /*--------------------------------------------------------------------TOP NAVBAR BAR---------------------------------------------------------------*/
    .navbar-fixed-top {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .navbar-fixed-top ul{
            display:flex;
            justify-content:space-evenly;

        }

        .navbar-fixed-top ul li {
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 40px;
        }

    .bar-alexis {
        margin-top: 40px;
        vertical-align: central;
        align-items: center;
        text-align: center;
        line-height: 60px;
    }

    .inboxCustomNavbar li {
        font-weight: bolder;
        font-size: 20px;
    }

    .TextBody {
        display: block;
        max-height: 150px;
        max-width: 200px;
        border: 1.5px solid;
        border-radius: 7px;
        padding: 3px;
        /*background-color:blue;*/
    }

    .userImage {
        display: block;
        object-fit: fill;
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }
    .signout{
        padding:0 6rem;
    }

    .navbar-brand {
        padding: 0.5rem 6rem;
    }
    .non-authenticated{
        display:flex;
        @*width:20rem;*@
    }

</style>



