@model GroupProject.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<div class="container-all">



    



    <div class="register-form">
        <h2 class="myTitle">@ViewBag.Title</h2>
        <h3>Associate your @ViewBag.LoginProvider account.</h3>
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ourForm", role = "form" }))
        {
            @Html.AntiForgeryToken()


            <h2 class="myH2">Association Form</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p class="my-paragraph">
                You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                Please enter a user name for this site below and click the Register button to finish
                logging in.
            </p>
            @*<div class="input-area">*@
                
                <div class="text-box-div">
                    @Html.TextBoxFor(m => m.Email, new { @class = "emailInput" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            @*</div>*@
            
                    <input type="submit" class="button-default button-primary registerBtn" value="Register" />
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .myH2{

        
    }

    .labelClass{
        height:1.5rem;
    }
    .ourForm{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .emailInput {
        height:2rem;
        padding: var(--card-padding);
        font-size:1rem;
    }

    .registerBtn{
        padding-left:8rem;
    }
    .myTitle{
        margin-top:1.5rem;
        color: var(--color-primary);
        font-size:2rem;
    }

    .container-all {
        width: 80vw;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Roboto', sans-serif;
    }

    .register-form {
        width: 33rem;
        height: 35rem;
        background-color: var(--color-white);
        padding: var(--card-padding);
        border-radius: var(--card-border-radius);
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        font-family: 'Roboto', sans-serif;
    }

        .my-paragraph {
            font-family: 'Roboto', sans-serif;
            font-size:1.5rem;
            padding:2rem;
            
        }

    .input-area {
        width:4rem;
        height:3rem;
    }

    #Email.Valid {
        border-radius: var(--card-border-radius);
        height:2rem;

    }
    .text-box-div{
        height:3rem;
        margin-bottom:2rem;
    }

</style>
