@model IEnumerable<GroupProject.Models.TopicPost>

@{
    ViewBag.Title = "TopicPosts";


}





    @foreach (var item in Model)
    {
<h4>
    @Html.ActionLink("Create New", "Create", new { id = item.TopicId })
</h4>
<h2>@Html.DisplayFor(modelItem => item.Topic.Title)</h2>
        break;
    }


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Message")
        </th>
        <th>
            @Html.DisplayName("Author")
        </th>
        <th>
            @Html.DisplayName("Actions")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Post.Body)
    </td>
    <td>
        @if (item.Sender.IsDeactivated)
        {
            <h5>DeactivatedAccount</h5>
        }
        else
        {

            @Html.ActionLink(item.Sender.FullName, "VisitProfile", "Profile", new { id = item.Sender.Id }, null)

        }
    </td>
    <td>
        @if (User.IsInRole("Admin") || (item.Sender.Id == ViewBag.UserId))
        {
            <a href=@Url.Action("Edit", "TopicPosts",new {id=item.Id })>
                Edit |
            </a>
            @*<a href=@Url.Action("Details", "TopicPosts",new {id=item.Id })>
                Details |
            </a>*@
            <a href=@Url.Action("Delete", "TopicPosts",new {id=item.Id })>
               Delete |
            </a>
        }
    </td>
</tr>
    }

</table>
