@model IEnumerable<GroupProject.Models.TopicPost>

@{
    ViewBag.Title = "TopicPosts";


}


@foreach (var item in Model)
{
    <div class="topic-header"><h4>@Html.DisplayFor(modelItem => item.Topic.Title)</h4></div>
    <div class="add-post-form">
        @using (Html.BeginForm("Create", "TopicPosts", "Post"))
        {
            @Html.AntiForgeryToken()
            <form form-inline>
                <div class="form-group">
                    <input typeof="text" name="Body" id="text" class="form-control add-post-text" placeholder="Say something..." />
                </div>
                <input type="hidden" value="@item.TopicId" name="id" />
                <input type="hidden" value="@item.SenderId" name="SenderId" />
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        }
    </div>
    break;
}

@foreach (var item in Model)
{
    <div class="post">

        <div class="post-header">
            <div class="post-user">
                <img class="post-thumb thumbnail" src="~/img/@item.Sender.Thumbnail" />
                @if (item.Sender.IsDeactivated)
                {
                    <h4>DeactivatedAccount</h4>
                }
                else
                {
                    <h4 class="post-user-text"> @Html.ActionLink(item.Sender.FullName, "VisitProfile", "Profile", new { id = item.Sender.Id }, null)</h4>
                }

            </div>

            <strong class="">@item.Post.Datetime</strong>
        </div>

        <div class="post-body">

            <p class="post-body-p">@item.Post.Body</p>

            @*<img class="post-body-img thumbnail" src="~/img/@item.Sender.Thumbnail" />*@
        </div>
        @if (User.IsInRole("Admin") || (item.Sender.Id == ViewBag.userId))
        {
            <div class="post-footer">
                <button class="btn btn-link js-tpost-edit" data-tpost-id="@item.Id"><i class="material-icons">edit</i></button>
                <button class="btn btn-link js-tpost-delete" data-tpost-id="@item.Id"><i class="material-icons">delete</i></button>
                <div class="edit-post-form hidden" id="@item.Id-f">
                    @using (Html.BeginForm("Edit", "TopicPosts", "Post"))
                    {
                        @Html.AntiForgeryToken()
                        <form form-inline>
                            <div class="form-group">
                                <input typeof="text" name="body" id="text" class="form-control add-post-text" placeholder="Edit Post..." />
                            </div>
                            <input type="hidden" value="@item.Id" name="id" />

                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    }
                </div>

            </div>
        }

    </div>

}

@section scripts{
    <script>
        $(document).ready(function () {
            $(".post").on("click", ".js-tpost-edit", function () {
                var button = $(this);
                const id = `${button.attr("data-tpost-id")}-f`;
                $(`#${id}`).toggleClass("hidden");
               
            });
            $(".post").on("click", ".js-tpost-delete", function () {
                var button = $(this);
                console.log(button);

                bootbox.confirm("Are you sure you wish to delete this post?", function (result) {

                    if (result) {
                        $.ajax({
                            url: "/api/topicPosts/deletePost/" + button.attr("data-tpost-id"),
                            method: "DELETE"
                        }).done(function (response) {
                            console.log(response);
                          
                            location.reload();
                        }).fail(function (error) {
                            console.log(error);
                        });
                    }

                });

            });
        });
    </script>
}

<style>
    .topic-header {
        background-color: #292B2E;
        color: antiquewhite;
        padding: 5px;
        border-radius: 5px;
        padding-left: 5rem;
        padding-right: 1.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }



    .post {
        background-color: white;
        padding-top: 2rem;
        padding-bottom: 4rem;
        padding-left: 4rem;
        padding-right: 4rem;
        border-radius: 1rem;
        box-shadow: 7px 10px 14px -11px rgba(0,0,0,0.1);
        margin-bottom: 4rem;
        width: 100%;
    }


    .post-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .post-thumb {
        object-fit: cover;
        width: 7rem;
        height: 7rem;
        border-radius: 7rem;
    }

    .post-user {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .user-text {
        padding-left: 2rem;
    }

    .post-body {
        padding-left: 9rem;
    }

    .post-body-img {
        width: 50%;
    }

    .post-footer {
        padding-left: 9rem;
    }


    .add-post-form {
        background-color: white;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 5rem;
        padding-right: 2rem;
        border-radius: 1rem;
        box-shadow: 7px 10px 14px -11px rgba(0,0,0,0.1);
        margin-bottom: 4rem;
        margin-top: 2rem;
        width: 100%;
    }

    .edit-post-form {
        width: 100%;
    }

    .hidden {
        display: none;
    }

    #text {
        max-width: unset;
        width: 100%;
    }
</style>