@model IEnumerable<GroupProject.Models.WallPost>

@{
    ViewBag.Title = "Wall";
}

<h2>Wall</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new {@class ="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post.Body)
        </th>
        <th></th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Post.Body)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |           
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
