<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>


    <nav class="navBar">
        <div class="navBar-logo">
            <a> <span class="material-icons link-icon">coffee</span> </a>
        </div>
        <hr />
        <ul class="navBar-nav">
            <li class="nav-item">
                <a class="nav-item-link" href="@Url.Action("Index", "Dashboard")"><span class="material-icons link-icon">people</span><span class="link-text">Users</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item-link" href="@Url.Action("Index", "ManageTopics")"><span class="material-icons link-icon">forum</span><span class="link-text">Forum</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item-link" href="@Url.Action("GetAllWallPosts", "Dashboard")"><span class="material-icons link-icon">newspaper</span><span class="link-text">Posts</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item-link"><span class="material-icons link-icon">mail</span><span class="link-text">Inbox</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item-link"><span class="material-icons link-icon">chat</span><span class="link-text">Chat</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item-link"><span class="material-icons link-icon">person</span><span class="link-text">Profile</span></a>
            </li>
        </ul>

        <hr />

        <div class="navBar-bottom">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()

                    <a class="nav-item-link" href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" title="Log Out"><span class="material-icons link-icon">logout</span><span class="link-text">Sign Out</span></a>
                }
            }
        </div>


    </nav>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </nav>

    @*@RenderBody()*@
    <div class="body-content">
        <div class="container">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
<style>
    :root {
        --color-purple: rgb(54,30,64);
        --color-brughtCyan: rgb(45,240,235);
    }
    .body {
        background: -webkit-linear-gradient(90deg, hsla(283, 83%, 86%, 1) 0%, hsla(105, 11%, 85%, 1) 100%);
    }

    .body-content {
        font-size: 1.5rem;
        padding-left:25rem;
    }
    
    .link-icon {
        font-size:3.5rem;
    }
    .navBar {
       
        width: 25rem;
        height: 100vh;
        position: fixed;
        font-size: 2rem;
        background-color: #1c1e21;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 7px 10px 14px -11px rgba(0,0,0,0.72);
    }


    .navBar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-evenly;
       width:100%;
    }

    .navBar-bottom{
        width:100%;
    }
    @*.nav-item span{
      margin-right:2rem;
     
    }*@
    .nav-item {
        width: 100%;
    }
    .nav-item-link{
       width:100%;
        display:flex;
        align-items:center;
        justify-content:space-evenly;
    }
    .table-div {
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 7px 10px 14px -11px rgba(0,0,0,0.1);
        margin-bottom: 4rem;
    }

    .table-heading {
        margin-bottom: 2rem;
    }
</style>
</html>
