<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>


    <nav class="navBar" id="navBar">
        <div class="navBar-logo">
            <a class="nav-item-link logo"> <span class="material-icons link-icon">chat</span><span class="link-text"><h3>Kous Kous</h3></span> </a>
            <a class="nav-item-link" id="toggle-navBar">
                <svg class="toggle-Chevron" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                </svg>
            </a>
        </div>


        <ul class="navBar-nav">
            <li class="nav-item">
                <a class="nav-item-link" href="@Url.Action("Index", "Dashboard")"><span class="material-icons link-icon">people</span><span class="link-text">Users</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item-link" href="@Url.Action("Index", "ManageTopics")"><span class="material-icons link-icon">forum</span><span class="link-text">Forum</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item-link" href="@Url.Action("GetAllWallPosts", "Dashboard")"><span class="material-icons link-icon">newspaper</span><span class="link-text">Posts</span></a>
            </li>
           

        </ul>

        <hr />

        <div class="navBar-bottom">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()

                    <a class="nav-item-link" href="javascript:document.getElementById('logoutForm').submit()" data-toggle="tooltip" title="Log Out"><span class="material-icons link-icon">logout</span><span class="link-text">Sign Out</span></a>
                }
            }
        </div>


    </nav>
    <nav class="navBar-top">
        <ul class="navBar-top-nav">
            <li class="navBar-top-item">
                <a class="nav-top-item-link" href="@Url.Action("NewsFeed", "NewsFeed",new {Area="" })" target="_blank">visit site | </a>
            </li>
            <li class="navBar-top-item">
                <a class="nav-top-item-link text-capitalize" href="@Url.Action("MyProfile", "Profile",new {Area="" })" target="_blank"><span class="link-top-text">@ViewBag.loggedUser.FullName</span><img class="thumbnail-icon" src="~/img/@ViewBag.loggedUser.Thumbnail" /></a>
            </li>

        </ul>
    </nav>


    <div class="body-content">
        <div class="container">
            @RenderBody()
        </div>

        <hr />
        <footer>
            <div class="container">
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </div>

        </footer>
    </div>




    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>


        $("#toggle-navBar").click(function () {

            $("#toggle-navBar").toggleClass("toggle-Chevron");
            $("#navBar").toggleClass("navBar-closed");
            $(".link-text").toggleClass("hidden");
            $(".body-content").toggleClass("body-close");
        });

    </script>

</body>
<style>
    :root {
        --color-purple: rgb(54,30,64);
        --color-brughtCyan: rgb(45,240,235);
        --color-analogus: rgb(124, 54, 203);
        --color-primary: rgb(15,228,212);
    }

    .body {
        background: -webkit-linear-gradient(90deg, hsla(283, 83%, 86%, 1) 0%, hsla(105, 11%, 85%, 1) 100%);
    }

    .body-content {
        font-size: 1.5rem;
        padding-left: 25rem;
        padding-top: 10rem;
    }

    .body-close {
        padding-left: 10rem;
    }

    .link-icon {
        font-size: 3.5rem;
        transition: width 800ms ease;
    }

    .navBar-top {
        position: fixed;
        height: 8rem;
        width: 100%;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 10rem;
    }

    .navBar-top-nav {
        height: 100%;
        list-style: none;
        width: 100%;
        padding-right: 4rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .link-top-text {
        margin-right: 1rem;
    }

    .navBar {
        width: 25rem;
        height: 100vh;
        position: fixed;
        font-size: 2rem;
        background-color: #1c1e21;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 7px 10px 14px -11px rgba(0,0,0,0.72);
        transition: width 800ms ease;
    }

    .navBar-closed {
        width: 10rem;
    }

    .navBar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-evenly;
        width: 100%;
    }

    .navBar-bottom {
        width: 100%;
        margin-top: auto;
        padding-bottom: 5rem;
    }

    .navBar-logo {
        padding-top: 1rem;
        width: 100%;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item-link {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .table-div {
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 7px 10px 14px -11px rgba(0,0,0,0.1);
        margin-bottom: 4rem;
    }

    .table-heading {
        margin-bottom: 2rem;
    }

    .hidden {
        display: none;
    }

    .link-text {
        transition: width 800ms ease;
    }

    .thumbnail-icon {
        height: 5rem;
        width: 5rem;
        border-radius: 5rem;
    }

    .toggle-Chevron {
        transform: rotate(180deg);
        transition: width 800ms ease;
    }
    .navBar-top-item{
        margin-left:0.5rem;
    }

    .logo {
        font-family: 'Pacifico', cursive;
        @*background: -webkit-linear-gradient(var(--color-primary) 40%, var(--color-analogus));
        *@ background: -webkit-linear-gradient(var(--color-analogus)3%,var(--color-primary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>


</html>
