<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div class="navbar  navbar-fixed-top top-admin-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Pes ta!", "Index", "Dashboard", new { area = "Administrator" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">


                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a href="@Url.Action("Index", "Dashboard")" class="nav-link">Users</a></li>
                    <li class="nav-item"><a href="@Url.Action("Index", "ManageTopics")" class="nav-link">Topics</a></li>
                    <li class="nav-item"><a href="@Url.Action("GetAllWallPosts", "Dashboard")" class="nav-link">WallPosts</a></li>
                    <li class="nav-item">
                        @if (Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "" }))
                            {
                                @Html.AntiForgeryToken()

                                <a href="javascript:document.getElementById('logoutForm').submit()" class="material-icons nav-link" data-toggle="tooltip" title="Log Out">logout</a>

                            }
                        }
                        
                    </li>
                    </ul>
            </div>
        </div>
    </div>

    @*@RenderBody()*@
<div class="container body-content">
    @RenderBody()
    <hr />
    <footer class="navbar-fixed-bottom">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>
        
    </footer>
</div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
<style>
    .top-admin-nav {
        height:60px;
       padding:2rem 4rem;
    }
    .body-content {
        margin-top: 4rem;
    }
</style>
</html>
